/* Colors */
$default-primary-color: #9a0000;
$default-primary-lighter-color: #b82d2d;
$light-gray: rgba(247, 248, 249, 1);
$light-gray-hover: #efefef;
$light-gray-btn-color:rgba(90, 90, 90, 1);

// INPUT
$input-focus: rgba(0, 119, 255, 1);
$boder-color: #C4CDD9;
$label-color-gray: #999999;

/* Form control */
$check-color: #BCBEC0;
$check-selected-color: #2A7AF6;
$win-control-border: #EBEBEB;
$win-control-color: #999999;
$win-control-boder-radius: 3px;
$win-control-boder-radius-lg: 5px;
$win-table-color: #B4BAC6;
$win-table-color-black: #354052;
$win-table-filter-boder-color: #F0F0F0;
$win-table-paging-color: #AAB2C0;
$paging-button-color: #C7CDD9;
$paging-button-color-active: #0800D1;
